body {
  background-image: url("tlo.jpg");
  background-size: cover;
  padding-top: 5vh;
  box-sizing: border-box;
}

.tlo {
  width: max-content;
  height: max-content;
  text-align: center;
  margin: auto;
}
